<html>
    <head>
        <link rel="stylesheet" href="styles/signupstyle.css">
    </head>
        <body>
            <ul>
                <li><img src="images/catpaw.png" usemap="#home" width="100" height="100"></p>
                    <map name="home">
                    <area shape="rect" coords="34,44,270,350" alt="home" href="/">
                    </map>
                </li>
                <li><a href="breeds">Cat Breeds</a></li>
                <li><a href="pictures">Pictures</a></li>
                <li><a href="guestbook">Guest Book</a></li>
                <li><a href="facts">Facts</a></li>
                <li><a class="active" href="signup">Sign Up</a></li>
                {% if session ['logged_in'] == True %}
                <li><a href="logout">Logout</a></li>
                {% else %}
                <li><a href="login">Login</a></li>
                {% endif %}
            </ul>

                <table style="width:100%" id="gbook">
                    <tr>
                      <th>No.</th>
                      <th>Facts</th>
                    </tr>
                         {% for eachrow in facts%}
                    <tr>
                      <td>{{ eachrow [0] }}</td>
                      <td>{{ eachrow [1] }}</td>
                    </tr>
                       {% endfor %}
                </table>
        </body>
</html>
