ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6CC7D3;
    font-family: Quiet Meows, Helvetica, sans-serif;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 40px 20px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #443;
  }

  table, th, td {
    border: 1px solid black;
  }

  body {margin:8px;
  }

div.beautiful1{
    width: 25%;
    height: 50%;
}

div.style{
    width: 25%;
    height: 50%;
}
